APP_NAME="NIZARI Rachid - خطاط مغربي"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://Rachid.nizari.net

APP_LOCALE=ar
APP_FALLBACK_LOCALE=fr
APP_FAKER_LOCALE=ar_MA

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=nizari_rachid
DB_USERNAME=nizari_rachid
DB_PASSWORD=nizari_rachid

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=localhost
MAIL_PORT=587
MAIL_USERNAME=contact@nizari.net
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="contact@nizari.net"
MAIL_FROM_NAME="${APP_NAME}"

PAYPAL_MODE=sandbox
PAYPAL_SANDBOX_CLIENT_ID=
PAYPAL_SANDBOX_CLIENT_SECRET=
PAYPAL_LIVE_CLIENT_ID=
PAYPAL_LIVE_CLIENT_SECRET=

STRIPE_KEY=
STRIPE_SECRET=

RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

SUPER_ADMIN_NAME="NIZARI Rachid"
SUPER_ADMIN_EMAIL="nizari@nizari.net"
SUPER_ADMIN_PASSWORD="Fatima@1977"
